.review {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.175);
    padding: 10px 0;
}

.user-info {
    display: inline-block;
}
.user-info img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}
.user-review {
    margin-left: 30px;
}
.user-review p {
    text-align: left;
}