.success {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.success__image img{
    width: 150px;
    object-fit: contain;
    text-align: center;
}
.success__noti {
    text-align: center;
    margin-top: 20px;
    font-weight: 600;
}
.success__btn a {
    padding: 10px 20px;
    width: 200px;
    border: 1px solid red;
    display: inline-block;
    text-align: center;
}
.success__btn a:first-child {
    margin-right: 20px;
}
.success__btn a:hover {
    color: #fff;
    background-color: red;
}